// :root {
//   --el-color-primary: red;
// }

body {
  margin: 0;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

.title {
  font-size: 18px;
  font-weight: 400 !important;
  margin-top: 0;
}

.el-input__wrapper {
  border-radius: 2px;
  // box-shadow: 0 0 0 1px #ddd;
}

.el-button {
  border-radius: 2px;
}
