<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${template.properties.project.groupId}.${template.properties.project.artifactId}.mapper.${ModelName}Mapper">
    <resultMap id="resultMap" type="${template.properties.project.groupId}.${template.properties.project.artifactId}.entity.${ModelName}">
${resultMapFields}
    </resultMap>

    <sql id="queryParams">
        ${queryParams}
    </sql>

    <sql id="insertParams">
        ${insertParams}
    </sql>

    <select id="queryPage" resultMap="resultMap">
        SELECT
        <include refid="queryParams" />
        FROM ${tableName}
    </select>

    <insert id="create">
        INSERT INTO ${tableName} (<include refid="insertParams" />)
        VALUES (${mybatisParams});
    </insert>

    <select id="query" resultMap="resultMap">
        SELECT
        <include refid="queryParams" />
        FROM ${tableName}
        WHERE id = #{id}
        LIMIT 1
    </select>

    <update id="update">
        UPDATE ${tableName} SET
        ${updateFields}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM ${tableName} WHERE id = #{id}
    </delete>

${otherMethods}
</mapper>