/********** Global **********/

/* @font-face {
    font-family: Jipatha;
    src: url(../fonts/JipathaRegular.ttf);
} */

html,body {
    /* background-color: #f7f7fd; */
    background: white;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Microsoft Yahei";
    text-align: center;
}

h2 {
    font-size: 18px;
    /* font-weight: 400; */
    /* margin-left: 80px; */
    margin-top: 40px;
}

.header {
    /* background-color: #f1f1f1; */
    width: 100%;
    height: 70px;
    margin: 0 auto;
    text-align: left;
    line-height: 70px;
    vertical-align: middle;
    margin-bottom: 80px;
}

.logo {
    display: inline-block;
    height: 60px;
    line-height: 70px;
    margin-left: 80px;
    margin-right: 20px;
    vertical-align: middle;
}

a {
    color: black;
    /* text-decoration: none; */
}

.ScrollDown {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 28px;
    opacity: 0.5;
    cursor: pointer;
}

.tabs {
    display: inline-block;
    width: calc(100% - 680px);
    text-align: right;
    padding-right: 80px;
}

.tabs li {
    color: white;
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    /* font-family: 'Jipatha'; */
}

#FocusedItem {
    border-bottom: solid 2px white;
}

.lang_list {
    display: inline-block;
    position: relative;
    /* top: -5px; */
    background-color: rgba(255,255,255,0.3);
    height: 70px;
    line-height: 70px;
    margin-right: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.lang_list:hover .downbtn {
    display: block;
    background-color: rgba(0,0,0,0.3);
}
.lang_list:hover {
    background-color: rgba(255,255,255,0.2);
}
.lang_list span {
    padding:15px;
    line-height: 70px;
    cursor:pointer;
    color: white;
}
.lang_list .downbtn {
    display: none;
    position: absolute;
    margin-top: 0px;
    background-color: #f9f9f9;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
}
.lang_list .downbtn li{
    line-height:30px;
    text-align:left;
    margin-left: -20px;
    padding-left:5px;
    list-style-type: none;
    cursor: pointer;
}
.lang_list .downbtn a:hover{
    /* text-decoration:underline; */
    background: #10a9f5;
    /* color:#f00; */
}
.lang_list .downbtn a{
    display:block;
    color:white;
    text-decoration: none;
    /* width:100%;     */
}

.exhibition_area p {
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    margin-top: 80px;
}

#account {
    font-size: 16px;
    display: inline-block;
    line-height: 70px;
    margin: 0;
}

#title {
    /* font-family: 'Jipatha'; */
    font-size: 60px;
}

#buttonLogin {
    border: none;
    border: 2px white solid;
    border-radius: 5px;
    background: none;
    outline: none;
    height: 40px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

#linkSignup {
    color: white;
    text-decoration: none;
    margin-right: 8px;
}

.exhibition_area {
    background: #333;
    height: 100%;
    width: 100%;
    text-align: center;
    /* padding-top: 40px; */
    background-image: url('../images/work.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.exhibition_area h1 {
    color: white;
    font-size: 60px;
    margin: 0;
    /* font-family: 'Jipatha'; */
    /* margin-bottom: 20px; */
}

#ButtonSignUp {
    background: none;
    border: solid 2px white;
    height: 50px;
    width: 220px;
    /* border: none; */
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.app_box {
    margin-left: 80px;
    width: calc(100% - 160px);
}

.app_item {
    background: white;
    width: 75px;
    margin: auto;
    height: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    margin-top: 30px;
}

/* .content {
    text-align: left;
    padding-top: 10px;
    height: 220px;
    overflow: hidden;
} */

.app_item img {
    height: 72px;
    width: 72px;
    display: inline-block;
    vertical-align: middle;
}

.app_item img:hover {
    height: 90px;
    width: 90px;
    margin-top: -18px;
    margin-left: -7px;
}

.app_item span {
    font-weight: 400;
    display: inline-block;
    color: black;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 15px;
}

.small_size {
    font-size: 13px;
    margin: 5px;
}

.introduction {
    font-size: 14px;
}

.app_box button {
    height: 40px;
    width: 200px;
    background: #10a9f5;
    border: none;
    outline: none;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}

.app_box li {
    list-style-type: none;
    /* text-align: center; */
    width: 80px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
}

.app_box li:hover {
    border-radius: 5px;
    background: #eee;
}

.app_box li img {
    height: 60px;
}

.app_box li p {
    margin: 2px;
    font-size: 14px;
}

.app_box a {
    text-decoration: none;
    color: black;
    outline: none;
    margin: 0;
}

.footer {
    background-color: #f8f9fb;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p {
    text-align: center;
    color: #555;
    font-size: 14px;

}

@media screen and (max-width:765px) {
    html, body {
        text-align: center;
    }
    .app_box {
        width: calc(100% - 40px);
        margin: auto;
        padding: 10px;
        margin-bottom: 20px;
    }

}