
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>About</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap" rel="stylesheet">
  </head>
  <body id="home">
<section class=" w3l-header-4 header-sticky">
        <header class="absolute-top">
            <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <h1><a class="navbar-brand" href="index.html"><span class="fa fa-line-chart" aria-hidden="true"></span>
                   Hype
                </a></h1>
                <button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
          
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Services</a>
                        </li>
                    
               
                    </ul>
                    <ul class="navbar-nav search-righ">
                        <li class="nav-item" title="Search"><a href="#search" class="btn search-search"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <!-- search popup -->
                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            <form action="#" method="GET" class="d-flex">
                                <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                                <button type="submit">Search</button>
                                <a class="close" href="#">&times;</a>
                            </form>
                        </div>
                    </div>
                    <!-- /search popup -->
                </div>
            </div>
  
            </nav>
        </div>
          </header>
    </section>

    <script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
    <!--bootstrap working-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->


<!-- breadcrumbs -->
    <section class="w3l-inner-banner-main">
        <div class="about-inner inner2">
            <div class="container seen-w3">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                    <li class="active">About</li>
                </ul>
            </div>
        </div>
    </section>
<!-- breadcrumbs //-->
<section class="w3l-content-with-photo-4">
    <div class="content-with-photo4-block">
        <div class="container">
            <div class="cwp4-two row">
            <div class="col-xl-6 cwp4-image ">
                <img src="assets/images/b3.jpg" alt="product" class="img-responsive ">
            </div>
                <div class="cwp4-text col-xl-6">
                    <h4>The Key To Your Motivation And Success</h4>
                    <p class="para">Mollitia placeat modi explicabo voluptatum  adipisci Quisquam exercit tionem praesentium suscipit.unde Dicta, provident!
                        Rem adipisci Mollitia placeat modi explicabo voluptatum corporis unde? Dicta, provident!
                       
                    </p>
                    <div class="jst-two-coloums mt-4">
                        <div class="icon-text">
                            <h5> <a href="#" >Social media marketing</a>
                            </h5>
                            <p class="para">consectetur adipisicing ducimus aperiam explicabo similique. Nulla nobis neque esse laudantium, cum odit error quidem amet</p>
                       </div>
                        <div class="icon-text mt-lx-3 pt-lx-1">
                            <h5 ><a href="#" >Business Analytics</a>
                            </h5>
                            <p class="para">consectetur adipisicing ducimus aperiam explicabo similique. Nulla nobis neque esse laudantium, cum odit error quidem amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   				<section class="w3l-recent-work-hobbies">
   				    <div class="recent-work ">
   				        <div class="container">
<div class="left-text">
	<h3>We Are Digital Explorers</h3>
	<p class="para">Consectetur Lorem ipsum dolor sit amet adipisicing elit. Recusandae nulla beatae exercitationem iusto dolore animi, voluptatem inventore minima corporis asperiores dicta molestiae dolorum quod numquam iure ipsam nostrum tempore porro Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti possimus culpa nemo asperiores aperiam mollitia, maiores, modi facilis atque consequuntur hic officia unde, fugiat tempora? Vero est aliquid nisi fugit.</p>
</div>
<div class="row about-about">
	<div class="col-lg-4 col-md-6">
		<div class="about-grids">
<h4>Who we are</h4>
<p class="para">Sit amet consectetur adipisicing elit. Rem quibusdam corporis, dolores quos, nobis culpa est praesentium ipsum </p>
<div class="mt-3 about-list">
	<ul>
		<li ><span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
			<p class="para"> Rem quibusdam corporis</p>
		
		</li>
		<li><span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
			<p class="para">laudantium dolores</p>
		</li>
		<li><span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
			<p class="para">laudantium dolores</p>
		</li>
	</ul>
</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 about-line-top">
		<div class="about-grids">
<h4>Our History</h4>
<p class="para">Sit amet consectetur adipisicing elit. Rem quibusdam corporis, dolores quos, nobis culpa est praesentium ipsum </p>
<div class="mt-3 about-list">
	<ul>
		<li ><span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
			<p class="para"> Rem quibusdam corporis</p>
		
		</li>
		<li><span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
			<p class="para">laudantium dolores</p>
		</li>
		<li><span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
			<p class="para">laudantium dolores</p>
		</li>
	</ul>
</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 about-line-top">
		<div class="about-grids">
<h4>Our Mission</h4>
<p class="para">Sit amet consectetur adipisicing elit. Rem quibusdam corporis, dolores quos, nobis culpa est praesentium ipsum </p>
<div class="mt-3 about-list">
	<ul>
		<li ><span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
			<p class="para"> Rem quibusdam corporis</p>
		
		</li>
		<li><span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
			<p class="para">laudantium dolores</p>
		</li>
		<li><span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
			<p class="para">laudantium dolores</p>
		</li>
	</ul>
</div>
		</div>
	</div>
</div>
   				        </div>
   				    </div>
   				</section>
<section class="w3l-about ">
<div class="skills-bars text-center">
 <div class="container">
<div class="row counter-width">
 <div class="counter-counter col-lg-3 col-md-3 col-sm-6">
<h4>Active clients</h4>
<span>250</span>
 </div>
 <div class="counter-counter col-lg-3 col-md-3 col-sm-6">
  <h4>Projects Done</h4>
  <span>170+</span>
   </div>
   <div class="counter-counter col-lg-3 col-md-3 col-sm-6">
    <h4>Success Rate</h4>
    <span>90%</span>
     </div>
     <div class="counter-counter col-lg-3 col-md-3 col-sm-6">
      <h4>Get Awards</h4>
      <span>70+</span>
       </div>
 </div>
</div>
</div>
 </section>
<section class="w3l-team-main-6">
	<!-- /team-grids -->
	<div class="team-content">
		<div class="container">
            <div class="main-titles-head text-center">

                <h3 class="header-name">
					Meet Our Awesome Team Member
                </h3> 
            </div>
			<div class="row grid-col-4 text-center">
                <div class="team-colomn col-lg-3 col-md-6 col-sm-6">
				<div class="team-main-6">
					<div class="right-team-9">
						<a href="#page"><img class="img-responsive" src="assets/images/t1.jpg" alt=" "></a>
						<h6><a href="#page" class="title-team-32">Adam Ster</a></h6>
						<p class="sm-text-32">Designer</p>
	
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
                </div>
            </div>
            <div class="team-colomn col-lg-3 col-md-6 col-sm-6">
				<div class="team-main-6">
					<div class="right-team-9">
						<a href="#page"><img class="img-responsive" src="assets/images/t2.jpg" alt=" "></a>
						<h6><a href="#page" class="title-team-32">John doe</a></h6>
						<p class="sm-text-32">Marketing</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
                </div>
            </div>
            <div class="team-colomn col-lg-3 col-md-6 col-sm-6">
				<div class="team-main-6">
					<div class="right-team-9">
						<a href="#page"><img class="img-responsive" src="assets/images/t3.jpg" alt=" "></a>
						<h6><a href="#page" class="title-team-32">Dane Walker</a></h6>
						<p class="sm-text-32">Finance</p>
			
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
                </div>
            </div>
            <div class="team-colomn col-lg-3 col-md-6 col-sm-6">
				<div class="team-main-6">
					<div class="right-team-9">
						<a href="#page"><img class="img-responsive" src="assets/images/t4.jpg" alt=" "></a>
						<h6><a href="#page" class="title-team-32">Elijah</a></h6>
						<p class="sm-text-32">Manager</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
                </div>
            </div>

			</div>
		</div>
	</div>
	<!-- /team-grids -->
</section>
<section class="w3l-footers-20">
	<div class="footers20">
		<div class="container">
			<h2><a class="footer-logo" href="index.html">
				<span class="fa fa-line-chart mr-2"aria-hidden="true"></span>Hype</a></h2>
			<div class=" row">
				<div class="grid-col col-lg-7 col-md-7">
					<h3>Get latest updates and offers.</h3>
					<div class="footer-subscribe mt-4">
						<form action="#" method="post" class="input-button">
							<input type="email" name="Your Email" class="form-control" placeholder="Your Email"
								required="">
							<button class="btn footer-button btn-secondary action-button">
								Subscribe
							</button>
						</form>
					</div>
				</div>
				<div class="col-lg-5 col-md-5 footer-bottom-two">
					<ul>
						<li> <a href="contact.html" class="btn action-sub-button">Contact</a></li>
						<li> <a href="services.html" class="btn logo-button top-margin mt-md-3">Our Service</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="border-line-bottom"></div>
			<div class=" row">
				<div class="grids-content col-lg-2 col-md-2 col-sm-6">
					<h4>Company</h4>
					<div class="footer-nav">
						<a href="index.html" class="contact-para3">Home</a>
						<a href="about.html" class="contact-para3">About</a>
						<a href="services.html" class="contact-para3">Services</a>
						<a href="blog.html" class="contact-para3">blog</a>
						<a href="contact.html" class="contact-para3">Contact</a>
					</div>

				</div>
				<div class="grids-content col-lg-3 col-md-3 col-sm-6">
					<h4>Information</h4>
					<a href="mailto:hello@example.com">
						<p class="contact-text-sub contact-para3">hello@example.com</p>
					</a>
					<a href="tel:+7-800-999-800">
						<p class="contact-text-sub contact-para3">+7-800-999-800</p>
					</a>
					<p class="contact-text-sub contact-para3">California, </p>
					<p class="contact-text-sub contact-para3">75 West Rock, Maple Building</p>
					<div class="buttons-teams">
						<a href="#team"><span class="fa fa-facebook" aria-hidden="true"></span></a>
						<a href="#team"><span class="fa fa-twitter" aria-hidden="true"></span></a>
						<a href="#team"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
					</div>
				</div>
				<div class="col-lg-7 col-md-7 col-12 copyright-grid ">
					<p class="copy-footer-29">Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
</section>

<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-angle-up"></span>
</button>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->
</body>

</html>