<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mekcone.studio.web.mapper.ProjectMapper">
    <resultMap id="projectResultMap" type="com.mekcone.studio.web.entity.Project">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="modified_time" property="modifiedTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="basicProjectParams">
        id, `name`, modified_time
    </sql>
    <select id="retrieveList" resultMap="projectResultMap">
        select
        <include refid="basicProjectParams" />
        from project
    </select>

    <select id="retrieveTest" resultType="Project">
        select
        <include refid="basicProjectParams" />
        from project
        where id = '1'
    </select>
</mapper>