// Global
$color-text-normal: #363739;
$color-text-active: #0090ff;
$color-text-minor: #b1b1b1;
$color-success: #65e3ba;
$color-fail: #ff4975;

// Sidebar
$width-sidebar: 200px;
$color-bg-sidebar: #283142;
$color-text-menu: #a7acb4;
$color-text-menu-active: #fff;
$color-bg-menu-active: #323e52;

// Header
$height-header: 55px;

:export {
    menuBg: $color-bg-sidebar;
    menuText: $color-text-menu;
    menuActiveText: $color-text-menu-active;
}