@import './_variables.scss';
@import './mixin.scss';
@import './element-reset.scss';
@import './icon.scss';

body {
    height: 100%;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

html {
    height: 100%;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $color-text-normal;

    &:hover {
        color: $color-text-active;
    }
}

#app {
    box-sizing: border-box;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-text-normal;

    * {
        box-sizing: inherit;
    }
}

.text-ellipsis {
    @include text-ellipsis;
}

.scrollbar {
    overflow: hidden auto;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #d8dce5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #aaa;
    }
}

.section {
    padding: 15px 25px;
    background-color: #fff;
}

.section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    >.section-title {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: $color-text-normal;

        &:before {
            content: "";
            display: block;
            width: 6px;
            height: 15px;
            background-color: #ff9702;
            margin-right: 12px;
            border-radius: 3px;
        }
    }

    >.sub-section-title {
        font-size: 14px;
        font-weight: normal;
        color: #808080;
    }
}

.grid-section {
    display: grid;
    column-gap: 15px;

    .section {
        margin-bottom: 0;
    }
}

.pagination-wrapper {
    margin-top: 15px;
    text-align: right;
}

.option-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.main {
        white-space: nowrap;
    }

    >.sub {
        margin-left: 10px;
        color: #999;
        @include text-ellipsis;
    }
}