#root {
    -fx-padding: 20, 20, 20, 20;
    -fx-fill: transparent;
}

.wrapper {
    -fx-background: #3c3f41;
    /*-fx-effect: dropshadow;*/
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);*/

}

#topBarWrapper {
    -fx-pref-height: 30;
    -fx-border-color: #515151;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.title {
    -fx-text-fill: #bbb;
    -fx-pref-height: 30;
    -fx-padding: 5;
}

.menu {
    -fx-selection-bar: #4b6eaf;
    /*-fx-padding-left: 5px;*/
    /*-fx-padding-right: 5px;*/
    -fx-text-fill: #bbb;
    /*-fx-text-alignment: middle;*/
}

.menu:hover {
    -fx-background-color: #4b6eaf;
}

.menu .label {
    -fx-text-fill: #bbb;
}

.menu-item:hover {
    -fx-background-color: #4b6eaf;
}

.menu-item {
    -fx-background-color: #3c3f41;
}

.menu-item .label {
    -fx-text-fill: #bbb;
}

#menuBar {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #3c3f41;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #515151;
}



/*#menuItemFileNew {*/
/*    -fx-background-color: #3c3f41;*/
/*}*/
